<!DOCTYPE html>
<html>
<head>
    <title>新增商品</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <!-- navbar -->
  <%- include ("../partials/navbar.ejs") %>

  <div class="container"> 
    <form id="newCommodity">
      <h1>新增商品</h1>
      <div class="form-group">
        <label for="name">商品名稱:</label>
        <input type="text" class="form-control" id="name" maxlength="60" required>
      </div>
      <div class="form-group">
        <label for="description">商品描述:</label>
        <textarea class="form-control" id="description" rows="4" maxlength="3000"></textarea>
      </div>
      <div class="form-group">
        <label for="material">材質:</label>
        <input type="text" class="form-control" id="material">
      </div>
      <div class="form-group">
        <label for="price">價格:</label>
        <input type="number" class="form-control" id="price" min="1" required>
      </div>
      <div class="form-group">
        <label for="stock">商品數量:</label>
        <input type="number" class="form-control" id="stock" min="0" required>
      </div>
      <div class="form-group">
        <label for="photo">商品圖片:</label>
        <img src="" class="rounded d-block" alt="尚未上傳" id="imgPhoto" width="200">
        <input type="file" class="form-control-file" id="photo" accept=".jpg, .jpeg, .png">
      </div>

      <button type="submit" class="btn btn-primary">儲存</button>
    </form>
  </div>
  

  <!-- packages -->
  <%- include ("../partials/packages.ejs") %>

  <!-- newCommodity.js -->
  <script src="/js/commodityNew.js"></script>
  
</body>
</html>