<!DOCTYPE html>
<html >
<head>
    <title>商品</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <!-- navbar -->
    <%- include ("../partials/navbar.ejs") %>

    <!-- 放置商品的div -->
    <div class="row row-cols-1 row-cols-md-3" id="commodity">
        
        <!-- 透過mustache來顯示商品 -->
        <script id="commodity-template" type="text/html">
            <div class="col mb-4" onclick="location.href='/commodity/{{_id}}';" id="{{_id}}">
                <div class="card">
                    <img src="{{photoAPI}}" class="img-thumbnail rounded mx-auto d-block" alt="無圖片" width="150" height="150">
                    <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">描述: {{description}}</p>
                    <p class="card-text">材質: {{material}}</p>
                    <p class="card-text">商品價格: {{price}}</p>
                    <p class="card-text">商品數量: {{stock}}</p>
                    </div>
                </div>
            </div>
        </script>
    </div>



    <!-- packages -->
    <%- include ("../partials/packages.ejs") %>

    <!-- commodityAll.js -->
    <script src="/js/commodityAll.js"></script>

</body>
</html>