<!DOCTYPE html>
<html>
<head>
    <title>更改密碼</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <!-- navbar -->
  <%- include ("../partials/navbar.ejs") %>

    <div class="container">
      <form id="updatePassword">
          <h3>更改密碼</h3>
          <p>為了保護你帳號的安全，請不要分享你的密碼給其他人</p>

          <div class="form-group">
            <label for="newPassword">新的密碼:</label>
            <input type="password" class="form-control" id="newPassword" pattern="^(?=.*[a-z])(?=.*\d).{8,12}$" title="密碼必須為8-12位英數字元" required>
            <small id="passwordHelpBlock" class="form-text text-muted">
                密碼必須為8-12位英數字元
              </small>
          </div>
          <div class="form-group">
            <label for="confirmPassword">確認密碼:</label>
            <input type="password" class="form-control" id="confirmPassword" pattern="^(?=.*[a-z])(?=.*\d).{8,12}$" title="密碼必須為8-12位英數字元" required>
          </div>
          <button type="submit" class="btn btn-primary">儲存</button>
        </form>
    </div>
    
  <!-- packages -->
  <%- include ("../partials/packages.ejs") %>


  <!-- userProfile.js -->
  <script src="/js/updatePassword.js"></script>

  
</body>
</html>