<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="6122339461-j9snr7p986f8i9ucgtufv6u21gutdspt.apps.googleusercontent.com">

    <title>Google登入</title>
</head>
<body>
    <!-- Google OAuth -->
    
    <div class="container">
        <h3>Google登入</h3>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>

    <!-- userGoogleOAut.js -->
    <script src="/js/userGoogleOAuth.js"></script>
</body>
</html>